.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0 20px;
  padding: 6px 47px 7px 46px;
}

.u-section-1 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 60px;
}

.u-section-2 .u-text-1 {
  margin: 74px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 75px 0 -15px;
}

.u-section-2 .u-image-1 {
  min-height: 431px;
  background-image: url("images/ProgALimentaria1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-group-1 {
  min-height: 566px;
  height: auto;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 446px;
  height: 446px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: -370px 95px 0 575px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 25px 25px 0 575px;
}

.u-section-3 .u-text-3 {
  margin: 129px 33px 0 568px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -315px;
    margin-right: 0;
    margin-left: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 250px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 180px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -354px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 40px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}